<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <style>
        *{
            margin:0;
            padding:0;
        }
        body{
            min-height: 100vh;
            background-image: linear-gradient(15deg, rgb(122, 220, 245) 50%,rgb(117, 0, 252) 50%) ;
            color:aliceblue;
        }
        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            padding:2% 1%;
            text-shadow: 4px 4px 4px #333;
            font-size:5rem;
            color:crimson;
        }
        h2{
            display: flex;
            justify-content: center;
            align-items: center;
            padding:2% 1%;
            text-shadow: 2px 2px 2px #333;
            color:#f70;
        }
        p{
            text-align: center;
            padding: 2% 1%;
            margin-top:2%;
            margin-left:2%;
            font-weight: bold;
            font-family: monospace,sans-serif;
            line-height: 1.5;
            font-size:1.5rem;
        }
        img{
            position: relative;
            padding:2%;
            max-width: 10rem;
            text-align: center;
            margin:auto;
            margin-top:2%;
        }
        h5,p{
            color:#333;
        }
        .submit{
            position:relative;
            margin-left:20%;
            margin-right: auto;
            padding:2%;
            padding-right: 2rem;
            padding-left:2rem;
            margin-top:2%;
        }
        .form-control{
            margin-bottom:1%;
        }
        .card{
            background-color: #f1f1f1;
            box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.3);
        }
        .list-group-item:nth-child(odd){
            background-color:#ddd;
        }
        .list-group-item:hover{
            background-color: #333;
            color:#f1f1f1;
        }
        h2{
            padding:1%;
            background-color: rgb(11, 243, 204);
            width: 30vw;
            border-radius: 10px;
            margin: auto;
            margin-bottom: 2%;
            box-shadow: 0px 5px 12px 5px #333;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <h2><%= theDay %></h2>
    <form action="/" method="post">
        <div class="card" style="width: 38rem;margin:auto; margin-bottom:2%">
            <img src="img.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 style="color:#f90;font-weight:bold;" class="card-title">Today's List</h5>
              <p class="card-text">I have a lot of things to do today.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Wake up at 8:00 in the morning</li>
              <li class="list-group-item">Study for 1 hour before breakfast</li>
              <li class="list-group-item">Have breakfast</li>
              <li class="list-group-item">Study for 2 more hours</li>
              <li class="list-group-item">take a break for an hour</li>
              <li class="list-group-item">Study for 2 more hours</li>

              <% for(let i=0;i<newItem.length;i++){ %>
                <li class="list-group-item"><%= newItem[i] %></li>
              <% } %>

            </ul>
            <div class="card-body">
              <label style="color:#f90;font-weight:bold;" for="inputText">Enter your checklist</label>
              <input name="addedItem" id="inputText" type="text" class="form-control" placeholder="Add New Item">
              <button class="btn btn-dark submit" name="submit" type="submit" value="send">Send</button>
              <button class="btn btn-dark submit" name="submit" type="submit" value="delete">Clear List</button>
            </div>
        </div>
        
    </form>
    
    
    
</body>
</html>



<!--
    önemli not:
    html tagları haric diğer tüm javascript içeren satırlar <% %> içerisine alınır
    bu sayada javascript kodları html tagları ile beraber kullanılabilir hale gelir.
     <% if(theDay === "Wednesday"){ %>
        <p style="color:darkred;font-size:2rem;">it's a </p>
    <% }else{ %>
        <p style="font-size:2rem;color:rgb(41, 255, 13);">it's a <%= theDay %>!</p>
    <% } %>
-->